/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .checker{
  display: block;
  margin-bottom: 20px;
 }

 .main-top{
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
 }

 body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }

 .main-bottom{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .button-link{
  background-color: rgb(245, 238, 238);
  padding: 10px;
  display: flex;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
 }

 .link{
  text-decoration: none;
  color: black;
 }

 .link:hover{
  text-decoration: none;
  color: red;
 }

 .home{
  border: 1px solid black;
  padding: 20px;
  width: 50%;
  text-align: center;
 }

 .symbol{
  padding-right: 10px;
 }